h3 {
  color: $black;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
  &:hover, &:focus {
    text-shadow: 0px 0px 4px $purple;
    transition: .8s ease;
  }
}

h4 {
  color: $white;
  background-color: $purple;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  width: max-content;
}

.recipe-card{
  background-color: $white;
  border: 2px solid $purple;
  border-radius: 7px;
  cursor: pointer;
  height: 270px;
  margin: 20px;
  padding: 15px;
  width: 250px;

  &:hover .text {
    font-size: 20px;
    opacity: 100%;
    transition: .5s ease;
    width: 100%;
  }
}

.card-apple-icon {
  cursor: pointer;
  float: right;
  height: 50px;
  margin: 5px;
  width: 45px;
}

.ingredient-pot-icon {
  cursor: pointer;
  float: right;
  height: 44px;
  margin: 12px;
  width: 45px;
}

.card-photo-container {
  @include flexin(row, center);
  align-items: center;
  height: 130px;
  position: relative;

  .card-photo-preview {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
    height: 130px;
    width: 100%;
    &:hover, &:focus {
      opacity: 50%;
      transition: .8s ease;
    }
  }

  .text {
    background: $purple;
    color: $white;
    font-weight: 700;
    font-size: 0px;
    opacity: 0%;
    padding: 0%;
    position: absolute;
    text-align: center;
    width: 0%;
    &:hover {
      font-size: 20px;
      opacity: 100%;
      transition: .5s ease;
      width: 100%;
    }
  }
}

/* RECIPE CARD INSTRUCTIONS */
.recipe-instructions {
  background: $white;
  border: 3px solid $purple;
  border-radius: 10px;
  box-shadow: 1px 1px 115px $black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;

  h4 {
    background: $white;
    color: $purple;
  }
  
  p {
    margin-left: 2%;
  }

  ol {
    margin-right: 2%;
  }
}

#exit-recipe-btn {
  background: $white;
  border: 2px double $purple;
  border-radius: 5px;
  color: $black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: -4% -3% 2% -1%;
  position: fixed;
  transition: .3s ease;

  &:hover, &:focus {
    background: $purple;
    transition: .3s ease;
  }
}

#recipe-title {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: $white;
  font-size: 30px;
  margin: 0;
  padding: 5%;
  text-align: center;
  text-shadow: 0px 0px 6px $black;
}

.overlay {
  filter:alpha(opacity=50);
  background-color: $background;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}
