$background: complement(rgba(254, 97, 0, .3));
$white: #fff;
$green: rgb(254, 97, 0);
$orange: rgb(254, 97, 0);
$dark-green: rgb(254, 97, 0);
$black: #000;
$hover: rgb(254, 97, 0);
$alt-background: #DAE4EE;


@mixin flexin($direction) {
  display: flex;
  flex-direction: $direction;
}


