$background: complement(rgba(162, 203, 74, .6));
$button-background: complement(rgba(162, 203, 74, 0));
$white: #fff;
$purple: invert(rgb(162, 203, 74));
$orange: rgb(254, 97, 0);
$black: #000;
$alt-background: #DAE4EE;


@mixin flexin($direction, $justifyDirection) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyDirection;
}

@mixin bannerStyle() {
  @include flexin(column, center);
  text-align: center;
  align-content: center;
  width: 95%;
  
  h1 {
    color: white;
    width: 100%;
    }
}
